<% # title and description for seo %>
<% content_for :seotags do %>
<title>Payday Loan Laws -- The Payday Hound</title>
<meta name="description" content= 'See individual state payday lending laws and regulations to make informed decisions on payday loans in your state.' />
<% end %>


<div id ="wrapper">
	<aside id ="sidebarFinder">	

			<%# render(:partial => "shared/sidebars/applicant")%>
	    <%= render(:partial => "shared/sidebars/sidebar")%>	

	</aside>

	<section id = "mainContent">
		<h1>Payday Loan State Laws</h1>
			<%= render 'shared/state_selector' %>
			<div class= "clearBoth"></div>
			<div class = "lawSummaryContent">

				<h2>Why Payday Lending Laws Matter to You</h2>
				<p>Payday lending law is generally designed to protect you from unfair lending practices. The reason these laws matter to you is that if you are in a regulated state you can leverage the state's montoring and enforcement to help you avoid unscrupulous lenders. And if you live in a state where payday lending is prohibited it is good to understand your options.</p>

				<h2>Types of Lenders</h2>
				<p>There are basically four types of lenders:
					<ul>
						<li>In-State Licensed Lenders</li>
						<li>Out-of-State Unlicensed Lenders</li>
						<li>Tribal Lenders</li>
						<li>Foreign Based Lenders</li>
					</ul>
				In-State Licensed Lenders are regulated and monitored by each state's regulator for compliance. They must also adhere to federal regulations. Out-of-State and Tribal Lenders will operate in states unlicensed based on the practice of exporting their state's or tribe's laws into your state. They are regulated by their state or tribe but as a resident of neither you often have less recourse if things go wrong. These lenders must also adhere to federal regulations. The last group of lenders are Foreign Based Lenders. They operate on the premise that they export their country's laws into your state.<p/>

				<h2>What Lender Type is Best</h2> 
				<p>There are unscrupulous lenders in all categories so the type that is best is the one where the enforcement of fair lending practices is most likely and that's In-State Licensed Lenders. They are regulated by the state and the federal government. They often must pass through a rigourous and expensive state compliance process. There is wider variation in quality with tribal lenders but in recent years these lenders have improved. The worst of these tribal lenders are fly-by-night entities who "rent a tribe" and operate until they are shut down. The better tribal lenders are building long term businesses and some are Silicon Vally backed entities who have established long term partnerships with tribes and use tribal law to simplify compliance. These lenders are often licensed in states where necessary. The most risky choice is Foreign Based entities. The typical case is a small lender that sets up in a Carribean tax haven and operates outside of US laws. There were more of these lenders in the past but recent actions by the FTC and others has reduced these lenders. In general the best choice is a state licensed lender or a reputable tribe-based lender.</p> 

				<h2>How to Use These Table</h2>
				<p>We have categorized regulations by state. Click on your state to learn about your state's regulations as well as links to resources provided by your state. If your state permits and regulates payday lending you can use their links to their licensee database to see if your lender if licensed. You can also ensure that your terms are in compliance and learn your rights with regards to collections and repayment. If your state does not permit payday lending there may be no payday loan aoptions as it appears some states enforce this more than other. If there are options they will be tribal or out-of-state lenders.</p>

				<h2>Payday Lending Laws Going Forward</h2>
				<p>Regulations around payday lender laws are rapidly changing. Not everyone agrees that tribes or other entites can export rates into other states. More recently the Consumer Financial Protectin Bureau has begun to study the payday lending industry. It is currently our opinion that a comprehensive and consistent regulatory environment will benefit consumers. The end result will be a more level playing field for lenders, improved consumer protection, and, we believe, lower costs.</p>
			</div>	
	</section>
</div>