<% content_for :seotags do %>
<title>Learn | The Payday Hound </title>
<meta name="description" content= "Learn how borrowing money, using cards, and building credit. Get informed and make great decision at The Payday Hound."/>
<% end %>

<section id="mainContent">
	<article>
		<h1>Learn</h1>
		<p>Make informed financial decisions. Learn about payday loans, installment loans, prepaid cards, and secured cards. Get the facts so you can make a decision that's best for your situation.</p>


	</article>	

</section>

<aside id ="sidebarFinder">
		<% # render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>
</aside>