<% content_for :seotags do %>
<title>Learn | The Payday Hound </title>
<meta name="description" content= "Learn how borrowing money, using cards, and building credit. Get informed and make great decision at The Payday Hound."/>
<% end %>

<section id="mainContent">
	<article>
		<h1>Learn</h1>



	</article>	

</section>

<aside id ="sidebarFinder">
		<% # render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>
</aside>