<div class = "show_160x600">
	<%= link_to(image_tag("banners/rise-160x600.gif", :alt => 'net-credit' ), partner_path(194), :rel =>'nofollow', :target => 'blank')  %>
</div>	

<div class = "sidebarPDH">
	<h3>the payday hound</h3>
	<h4>find cash simply</h4>
	<p>Largest Database of Ranking and Reviews</p>
	<p>Find Pre-Approved Lenders Instantly</p>
	<p>Higher Acceptance Rates</p>
	<p>Save Money and Compare</p>
	<p>Apply Direct</p>
</div>



