<div class = "show_160x600">
	<%= link_to(image_tag("banners/rise-160x600.gif", :alt => 'net-credit' ), partner_path(194), :rel =>'nofollow', :target => 'blank')  %>
</div>	

<div id = "sidebarWhyPDH">
	<h2>The Payday Hound</h2>
	<ul>
		<li><%= link_to("Why Use Us", {:controller => 'infos', :action => 'about'}) %></li>
		<li><%= link_to("How We Get Paid", {:controller => 'infos', :action => 'about'}) %></li>
		<li><%= link_to("How Our Rankings Work", {:controller => 'infos', :action => 'about'}) %></li>
	</ul>
</div>

