<% # title and description for seo %>
<% content_for :seotags do %>
<title>Find a Payday Loan: The Payday Hound</title>
<meta name="description" content="Search our network for payday loan lenders. Detailed, independent reviews and analysis of payday loan lenders. "/>
<% end %>

<div id = "wrapper">  
  <%= render 'shared/application/applicationFinder' %>
</div> 