<% # title and description for seo %>
<% content_for :seotags do %>
<title>Get a Payday Loan | The Payday Hound</title>
<meta name="description" content="Search our network for payday loan lenders. Detailed, independent reviews and analysis of payday loan lenders. "/>
<% end %>


  <%= render 'shared/application/applicationFinder' %>
  <%= render 'shared/application/applicationExplain' %>  