<h1>All Banners</h1>

<% if !@banners.blank? %>
	<% @banners.each do |b| %>
		<p><%= image_tag b.size_160x600.url %></p>
		<p><%= link_to 'show', banner_path(b.id) %></p>
	<% end %>
<% else %>
<p>There are no banners</p>	
<% end %>	