<div class = "socialMedia">
	<span class='st_plusone_hcount'></span>
	<span class='st_fblike_hcount' ></span>
	<span class='st_twitter_hcount'></span>
	<span class='st_sharethis_hcount'></span>
</div>
