<h2>Select Your State</h2>
<p>Click on your state to see lenders who offer loans in your state.</p>
<div id = "selectorStateBox">
	<%  @states.each_slice(10) do |slice| %>
		<div class = "selectorStatesCol">
			<% slice.each do |s| %>
			<div class = "selectorState" <%= (s.state_abbr == "AL") ? "id = stateAL" : ""  %>><%= link_to("#{s.state}", "#{@selectorPath}#{s.state_abbr.downcase}") %></div>
			<% end %>
		</div>
	<% end %>
</div>