<% # title and description for seo %>
<% content_for :seotags do %>
<title>Installment Loans: In-Depth Reviews and Rankings</title>
<meta name="description" content="Reviews and rankings of payday installment loan lenders. The Payday Hound aims to help you make informed decisions on payday and installment loans."/>
<% end %>

<div id="wrapper">
<aside id ="sidebarFinder">

		<% # render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>

</aside>


<section id="mainContent">
 
	<h1>Installment Loans</h1>
	<%= render 'shared/state_selector' %>
	<p>Installment loans, like payday loans, are based on your payday. They are attractive to many because they are quick, simple, do not require good credit, and, unlike payday loans, repayment can be spread out over multiple pay periods. The fees for these loans do add up so make sure you have considered other options such as bank loans, credit cards, or friends and family before taking one of these loans. These loans are best used for short-term, emergency funding.</p>	

	<p>If you do take an installment loan, you will find a quick, usually 5 to 25 minutes, application process. Money is often deposited into you account within one business day. This money is a loan and must be repaid in full. When taking out the loan, your lender will give you a payment plan. For example, $1,000 could have a repayment plan with a ~$125 payment every pay period (14 days) over the next 24 pay periods. In the end ~$1,000 costs ~$2,400. This is cheaper than what you would have to pay if you took out a payday loan for the same time-frame, but clearly not cheap.</p>
	<p>The difference between installment loans and payday loans is that payments are spread out over time. This reduces the amount of individual payments and your APR but the total amount of fees paid increases a well. See <a href = "/payday-loan-or-installment-loan/")>Payday Loans or Installment Loans</a> for more information. Many consumers prefer installment loans because paying the entire loan at your next pay period, as payday loans require, is often too difficult.<p>
	<p>The Payday Hound reviews online payday installment lenders and ranks them according to our <%= link_to "Sniff Test", '/infos/about' %> (reputation), costs, and licensing.</p> 
    
  <%= render(:partial => "shared/tables/term_loan_table")%>

  
	<div class = "socialMedia">
		<span class='st_facebook_hcount' displayText='Facebook'></span>
		<span class='st_googleplus_hcount' displayText='Google +'></span>
		<span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_email_hcount' displayText='Email'></span>
		<span class='st_sharethis_hcount' displayText='ShareThis'></span>
	</div>


</section>
</div>