<% # title and description for seo %>
<% content_for :seotags do %>
<title>Installment Loans: In-Depth Reviews and Rankings</title>
<meta name="description" content="Reviews and rankings of payday installment loan lenders. The Payday Hound aims to help you make informed decisions on payday and installment loans."/>
<% end %>

<div id="wrapper">
<aside id ="sidebarFinder">

		<% # render(:partial => "shared/sidebars/paydayfinder")%>
    <%= render(:partial => "shared/sidebars/sidebar")%>

</aside>


<section id="mainContent">
 
	<h1>Installment Loans</h1>
	<%= render 'shared/state_selector' %>
	<p>Installment loans while not technically payday loans are very similar to payday loans and are very expensive. They are attractive to many because they are quick, simple and do not require good credit. In addition, unlike payday loans their repayment can be spread out over multiple pay periods. The fees for these loans do add up so make sure you have exhausted other options such as bank loans, credit card, or friends and family before taking one of these loans. These loans are best used for short-term, emergency funding.</p>	

	<p>If you do take an installment loan you will find a quick, usually 5-15mins, application process. Money is often deposited into you account within one business day. This money is a loan and must be repaid in full. When taking out the loan your lender will give you a payment plan. For example, $1000 could have a repayment plan with something around $125 paid back every pay period (14 days) for 24 pay days. In the end ~$1,000 costs ~$2,400. This is cheaper than a payday loan but clearly not cheap.</p>
	<p>The difference between installment loans and payday loans is that payments are spread out over time. This reduces the amount of individual payments and your APR but does increase overall costs. See <a href = "/payday-loan-or-installment-loan/")>Payday Loans or Installment Loans</a> for more information. Many consumers prefer installment loans because paying the entire loan at your next pay period, as payday loans require, is often too difficult.<p>
	<p>The Payday Hound reviews online payday installment lenders and ranks them according our Sniff Test (reputation), costs and licensing.</p> 
    
  <%= render(:partial => "shared/tables/term_loan_table")%>

</section>
</div>