/* holds appSidebar and appform */
.borMain {
	margin: 0px auto;
	width: 950px;
	overflow: auto;
	height: 100%;
}

/* sidebar with status and loan benefits */
#borSidebar {

  width: 250px;
  float: left;
}


.borStatusBox {
	margin: 20px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 3px 3px #555;
	-webkit-box-shadow: 0 3px 3px #555;
	-moz-box-shadow: 0 3px 3px #555;	
}

.borStatusText {
	font-size: .8em;
	text-align: center;
	margin: 5px auto;
}

.borLoans {
	width: 185px;
	height: 140px;
	padding: 1px 20px 0px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.borLoans h1 {
	color: #e85d1f;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
}

.borLoans h2 {
	color: #281880;
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
}

.borLoans h3 {
	color: #281880;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
}
.borSystem {
	width: 185px;
	height: 65px;
	padding: 5px 20px 0px;
	border: 1px solid #ddd;
	background-color: #eee;
	box-shadow: 0 0px 0px #555;
	-webkit-box-shadow: 0 0px 0px #555;
	-moz-box-shadow: 0 0px 0px #555;
}

.borSystem h1 {
	color: #006633;
	font-size: .9em;
	text-align: center;
	font-weight: bold;
	margin: 5px 0px;
}

.borSystem h2 {
	color: #777;
	font-size: .7em;
	text-align: center;
}


/* box to capture main application data */
.borForm form{
	font-size: .9em;
}
.borFormBox{
	height: 650px;
	width: 675px;
	margin: 20px auto 25px;
	float: right;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	box-shadow: 0 5px 5px #444;
	-webkit-box-shadow: 0 5px 5px #444;
	-moz-box-shadow: 0 5px 5px #444;	
	background: #8fc990; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzhmYzk5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTVlMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8fc990 1%, #215e27 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8fc990), color-stop(100%,#215e27)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8fc990 1%,#215e27 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8fc990 1%,#215e27 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8fc990 1%,#215e27 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8fc990 1%,#215e27 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc990', endColorstr='#215e27',GradientType=0 ); /* IE6-8 */

}

.borDataBox {
	width: 595px;
	padding: 0px 15px 0px;
	margin: 15px auto 0px;
	background-color: #c9dbbd;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	box-shadow: 0 3px 3px #555;
	-webkit-box-shadow: 0 3px 3px #555;
	-moz-box-shadow: 0 3px 3px #555;	
}

.borDataBox h2 {
	margin-left: 9px;
	font-size: .7em;
}

.borPersonal {
	height: 260px;
}

.borBank {
	height: 110px;
}

.borWork {
	height: 160px;
}

.borDataRow {
	width: 100%;
}

.borDataContainer {
	float: left;
	width: 33.3%;
}


.borDataContainer input, .borDataContainer select, .borDataContainer label {
	display: inline-block;
	margin: -3px auto;
}

.borDataContainer label {
	font-size: .8em;
	color: #555;
	margin-top: 10px;
	margin-left: 1px;
}

.clearfix:after {
  clear: both;
  display: hidden;
}
.clearfix {
    display: inline-block;
}

.borLabel {
	width: 90%;

}

.borInput {
	color: #221B70;
	width: 90%;
	height: 20px 4px;
	padding: 3px;
	background-color: #fff;
  border: 1px solid #C6C6C6;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 	
}

.borInputDate{
	color: #221B70;
	height: 20px 4px;
	padding: 3px;
	background-color: #fff;
  border: 1px solid #C6C6C6;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 	
}

.borDataContainer select {
	height: 24px;
}

.borDataBox option {
	font-size: 1.0em;
	}

.borFindLoanButton {
 	background: none repeat scroll 0 0 #fff;
  border: 1px solid #555555;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;   
  color: #006633;
  cursor: pointer;
  font-family: helvetica,arial,san-serif;
  font-size: 1.4em;
  font-weight: bold;
  height: 40px;
  line-height: 45px;
  margin: 17px auto;
  padding: 0 0 2px;
  width: 250px;
  display: block;
}	

.borFindLoanButton:hover {
 	background: none repeat scroll 0 0 #E88C1A;
  color: #fff;
  }	