#loanFinder {
	background: $peach;
	color: $bigColor;
	padding: 0em 0em 1.5em;
	margin: 0em 3em 2.5em;
	@include rounded(3px);

	.loanFinderTitle{	
		margin: 0em;	
		font-size: 2em;
		line-height: 1.7em;
		text-align: center;
		color: $pageBackground;
		background: $bigColor;
	}


	.loanFinderPuppyBlurb {
		text-align: center;
		margin-top: .5em;
		color: $dogEars;

		ul li{
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-size: 1.2em;
			line-height: 1.5em;

		}	
	}

	.loanFinderBox{
		margin: 0em;
		padding: 0em 1em;
		//display: inline-block;
		//@include rounded(.5em);
	}

	.loanFinderStatesCol {
		width: 20%;
		float: left;
		margin: .5em 0em;
		padding: .5em 0em;
		color: $bigColor;
		//background: $boxBackground;
	}
	
	.loanFinderState {
		font-size: 1em;
		line-height: 1.4em;
		height: 1.4em;
	
		label {
			cursor: pointer;
			cursor: hand;
		}
		input {
			vertical-align: middle;
			position: relative;
			bottom: .15em;
	 		//@include scaleradio(.9);
		}
	}	
	.loanFinderState:hover {
		background: $bigColor;
		color: $pageBackground;
		box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
		-webkit-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
		-moz-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);						
	}

	.loanFinderButtonBox {
		text-align: center;
		input {
			font-size: 1.5em;
			margin: 0;
			background: $bigColor;
			border: none;
			color: $pageBackground;
			height: 2em;
			line-height: 2em;
			width: 12em;
			@include rounded(3px);
		}
		input:hover {
			//background: $boxBackground;
			border: none;
			//color: $bigColor;
			cursor: pointer;
			cursor: hand;
			box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
			-webkit-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
			-moz-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);			
		}
	}
}


