#loanFinder {
	//display: none;
	background: $peach;
	color: $bigColor;
	padding: 0em 0em 1.5em;
	margin: 0em 3em 2.5em;
	@include rounded(3px);

	.loanFinderTitle{	
		margin: 0em;	
		font-size: 2em;
		line-height: 1.7em;
		text-align: center;
		color: $pageBackground;
		background: $bigColor;
	}


	.loanFinderPuppyBlurb {
		text-align: center;
		margin-top: .5em;
		color: $bigColor;

		ul li{
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-size: 1.2em;
			line-height: 1.5em;
		}	
		ul li:nth-child(3) {
			color: $redHighlight;
			font-weight: bold;
		}
	}

	.loanFinderBox{
		margin: 0em;
		padding: 0em 1em;
		//display: inline-block;
		//@include rounded(.5em);
	}

	.loanFinderStatesCol {
		width: 20%;
		float: left;
		margin: .5em 0em;
		padding: .5em 0em;
		color: $bigColor;
		//background: $boxBackground;
	}
	
	.loanFinderState {
		font-size: 1em;
		line-height: 1.4em;
		height: 1.4em;
	
		label {
			cursor: pointer;
			cursor: hand;
			display: block;
		}
		input {
			vertical-align: middle;
			position: relative;
			bottom: .15em;
	 		//@include scaleradio(.9);
		}
	}	
	.loanFinderState:hover {
		background: $bigColor;
		color: $pageBackground;
		box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
		-webkit-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
		-moz-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);						
	}

	.loanFinderButtonBox {
		text-align: center;
		input {
			font-size: 1.5em;
			margin: 0;
			background: $redHighlight;
			border: none;
			color: $pageBackground;
			height: 2em;
			line-height: 2em;
			width: 12em;
			@include rounded(3px);
			-webkit-appearance: none;
		}
		input:hover {
			background: $boxBackgroundVeryDark;
			border: none;
			color: $pageBackground;
			cursor: pointer;
			cursor: hand;
			-webkit-appearance: none;
			//box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
			//-webkit-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);
			//-moz-box-shadow: 0 0 5px rgba(102, 102, 102, 0.6);			
		}
	}
}

#loanDrop {
	//display: none;
	margin: 0em 3em 2em;
	background: $bigColor;
	height: 21.1em;
	img {
		display: inline-block;
	}
	.loanDropContent {
		color: $pageBackground;
		display: inline-block;
		margin: 0 1.5em;
		text-align: center;
		vertical-align: top;
		width: 65%;
		h2 {
			font-size: 1.7em;
			color: $pageBackground;
			padding: .8em 0em;
		}
		.loanDropBlurb {
			font-size: 1em;
		}
		.loanDropBoxes{
			margin: 1em 2em;
			text-align: left;
			font-size: 1.2;
		}
		.loanDropBoxLeft {
			float: left;
		}
		.loanDropBoxRight {
			float: right;
		}
		.loanDropHighlights {
			font-size: 1.1em;
			line-height: 1.9em;
			height: 1.9em;
			vertical-align: center;
			img {
				vertical-align: middle;
			}
		}
		.loanDropLabel {
			//border-top: 1px solid $pageBackground;
			color: $pageBackground;
			font-size: .8em;
			padding-top: 1em;
			text-align: center;
			text-transform: uppercase;
		}	
	
		.loanDropStateIdContainer {
			height: 17px;
			width: 120px;
	  	overflow: hidden;
	  	margin: 0em auto;
	  	background: url(asset-path('downarrow.png')) no-repeat right #fff;
	  	//border: 1px solid #C6C6C6;
			//@include rounded(4px); 
			}	
	
		#loanDropStateId {
			color: #666;
			width: 139px;
			height: 18px;
			//vertical-align: middle;
			margin: -3px auto;
	  	background: none repeat scroll 0 0 transparent;
	  	border: 0 none;
	  	border-radius: 0 0 0 0;
		}	
		.loanDropLoanButton {
				background: $highColor;
	   		height: 1.8em;
	   		line-height: 1.8em;
	   		width: 9.3em;
	   		margin: 1.2em auto;
	   		border: none;
	   		color: $pageBackground;
	   		font-family: helvetica, arial, san-serif;
	   		font-size: 1em;
	   		cursor: pointer;
	   		cursor: hand;
	   		display: block;
		}			
	}	
}

