@media only screen and (max-width: 640px) {
	#mainHeaderOutter {
		margin: 0;
		border: none;
	}
	#mainHeader {
		width: 100%;
	}
	#logo {
		float: right;
		img {
			height: 4em;
		}
	}	
	#hamburger {
		display: block;
		font-size: 1.2em;
		color: $dogFur;
	}
	nav {
		background: none;
		border:none;
		float: none;
		height: auto;
		margin: 0;
		width: auto;
		position: absolute;
	}

	#nav {
		background-color: $bigColor;
		float: none;
		display: none;
		@include rounded(.3em);
	}

	#nav li {
		float: none;
		text-align: left;
		height: auto;
		line-height: 1.5em;
		padding-left: .5em;
	}

	#nav a {
		color: $pageBackground
	}
	#nav li.navApply {
		margin: 0;
	}

	#nav li:hover ul {
		background: none;
	}	

	#nav li:hover a:hover{
		background: none;
		color: $pageBackground
	}
	#nav ul{
    position:static;
    background: none;
	}

	#wrapper {
		width: 100%;
	}
	#sidebarFinder {
		display:none
	}

	#mainContent {
		clear: right;
		width: 100%;
	}

	#prepaidContent {
		clear: right;
		width: 100%;
	}


}