<tr>
	<td class = <%= @lender.state_lic ? "lenderYes" : "lenderNo" %>></td>
	<td>State licensed lender</td>
</tr>
<tr>
	<td class = <%= @lender.privacy_policy ? "lenderYes" : "lenderNo" %>></td>
	<td>Site privacy policy</td>
</tr>
<tr>
	<td class = <%= @lender.https ? "lenderYes" : "lenderNo" %>></td>
	<td>Encrypted application</td>
</tr>			
<tr>
	<td class = <%= @lender.BBB_accredit ? "lenderYes" : "lenderNo" %>></td>
	<td>Better Bus. Bureau Accredited</td>
</tr>	