<tr>
	<td class = <%= @lender.privacy_policy ? "lenderYes" : "lenderNo" %>></td>
	<td>Privacy policy</td>
</tr>
<tr>
	<td class = <%= @lender.https ? "lenderYes" : "lenderNo" %>></td>
	<td>HTTPS encrypted application</td>
</tr>			
<tr>
	<td class = <%= @lender.state_lic ? "lenderYes" : "lenderNo" %>></td>
	<td>State licensed lender</td>
</tr>
<tr>
	<td class = <%= @lender.BBB_accredit ? "lenderYes" : "lenderNo" %>></td>
	<td>Better Business Bureau Accredited</td>
</tr>	