<tr>
	<td colspan = "2" class = "lenderTableTitle">USABILITY</td>
</tr>
<%= render 'usability1' %>
<tr>
	<td colspan = "2" class = "lenderTableTitle">TRUST</td>
</tr>
<%= render 'trust1' %>
<%= render 'bbb1' %>	