<tr>
	<td class = <%= @lender.phone_contact ? "lenderYes" : "lenderNo" %>></td>
	<td>Phone contact</td>
</tr>
<tr>
	<td class = <%= @lender.live_chat ? "lenderYes" : "lenderNo" %>></td>
	<td>Live chat</td>
</tr>			
<tr>
	<td class = <%= @lender.spanish ? "lenderYes" : "lenderNo" %>></td>
	<td>Spanish application</td>
</tr>