<% # title and description for seo %>
<% content_for :seotags do %>
<title>Direct Payday Loans: In-Depth Reviews and Independent Rankings</title>
<meta name="description" content="Detailed, independent reviews and analysis of payday loan lenders. Apply direct to over 100 lenders with one simple application."/>
<% end %>

<div id = "wrapper">  
	<div class = "appMain">
    <div id ="appSidebar">
      <div class="appSidebarSeals">
        <%= image_tag("SSL_Seal.gif", :alt => "Security Seal", :style => "margin: 0px 35px") %>
        <%= link_to(image_tag("bank-think.png", :size => "100X53", :alt => "Bank Think"),"http://www.americanbanker.com/bankthink/get-more-transparency-in-payday-lending-1049381-1.html") %>
      </div>
      <div class="benefits">
        <ul>
          <li>Private, Safe, and Secure</li>
          <li>Instant Online Approvals</li>
          <li>No Faxing or Calling</li>
          <li>Up to $1000 in 24 Hours</li>
        </ul>
      </div>
      <div class = "quote">The Payday Hound is the best. It is honest, reliable and informative.</div>
      <div class="quoteCite">-- Alison, age 25</div>
      <div class="clearboth"></div>
      <div class = "quote">I love it. I can apply to over 150 lenders with one application.</div>
      <div class="quoteCite">-- Fernando, age 32</div>
      <div class="clearboth"></div>
    </div>  

    <div id="appFormBox">

      <%= render(:partial => "shared/applicant")%>
    				
    </div>
  </div>  

  <div class="clearboth"></div>

  <div class="appContent">
      <h1>What Happens Next</h1>
      <div>Once you apply your application it is sent to our network of 150+ direct payday lenders. Approvals can be done instantly and you will be sent to a specific lender's website to review loan terms such as rates, fees and renewal policy. You are responsible for reviewing these terms before accepting the loan so review them carefully. If you accept the loan cash is deposited into your checking account usually within one business day.</div>
      <h1>This is a Payday Loans</h1>
      <div>Payday loans are designed for short-term, emergency funding. These loans are fast, convenient and do not require good credit but are an expensive form of credit. Please review your terms carefully before accepting a loan.</div>
      <h1>Rates and Fees</h1>
      <div>APR and fees vary and are disclosed by your lender once your are approved. 
      Example loan costs from our network of lenders might be a 14 day loan with a fee of $12 per $100 borrowed and an APR of 312.86%.
      </div>
      <h1>Non-payment and Collections</h1>
      <div>Non-payment and collection policies depend on your the lender and should be disclosed in your loan agreement. In general, when you accept the loan agreement you are agreeing to repay the loan plus fees. Failure to pay the loan on time usually results in additional penalty fees.
      </div>
      <h1>Credit Score</h1>
      <div>Applying for a payday loan and paying it off on time does not impact your credit score but failure to pay your loan on time may hurt your credit score. This is because payday loan companies do not report to credit bureaus but most collection agengies do. 
      </div>
      <h1>Loan Renewal</h1>
      <div>Loan renewal policies depend on your specific lender and are disclosed in your loan agreement. In some cases loan renewals may be automatic which means you will incur additional fees. Repaying your loan on-time avoids additional fees. Payday loans are an expensive form of credit and are designed for short-term, emergency funding. 
      </div>
      <h1>The Payday Hound</h1>
      <div>The Payday Hound is NOT a financial institution or a lender. We are a free marketing service who matches prospective borrowers with prospective lenders for short-term loans. We cannot guarantee final approval of your loan and not all loan companies will approve a loan up to $1,000. Final approval for a cash loan depends on many factors including, but not limited to, income levels, the state in which you reside and employment status. The supplied information maybe verified with independent verification companies including, but not limited to, CLVerify, Teletrack, or Accurint. By entering your SSN into the website, you consent to allow us to share your SSN with outside service providers for evaluation of your application and provision of loan services. By clicking the submit button you certify that you are at least 18 years old, a legal resident of the United States and agree to the privacy policy. Residents of Georgia, Virginia, West Virginia, Arizona, Pennsylvania, and Ohio are not eligible to apply for a cash advance or other loan product using the above application or this matching service.
      </div>
  </div>  
</div>  
