<% # title and description for seo %>
<% content_for :seotags do %>
<title>Contact -- The Payday Hound</title>
<meta name="description" content="The Payday Hound aims to help you make informed decisions about payday loans. Contact us and let us know how we are doing. "/>
<% end %>

<div id="wrapper">
<aside id ="sidebarFinder">

		<%= render(:partial => "shared/sidebars/sidebar")%>


</aside>



<section id="mainContent">
		
	<h1>Contact Us</h1>

		
		<%= render(:partial => "shared/contact")%>
		

			<h2>Payday Hound Users</h2>
			<p>If you don’t see a lender you would like reviewed, send us an email and we’ll review them. Thank you.</p>
			<h2>Financial Service Providers</h2>
			<p>Our reviews are based on our independent analysis of your offerings using your website, conversations with your staff, domain registration data and Better Business Bureau reviews. If we’ve misrepresented your business, please send us an email with supporting data and we will correct it. In addition if you'd like us to review your offerings please let us know. Thank you.</p>

</section>
</div>