<% # nofollow noindex tags %>
<% content_for :followtags do %>
<title>Terms and Privacy | About The Payday Hound</title>
<meta name="description" content="See our terms of use and privacy policy. We aim to help you make informed decisions about payday loans and installment loans. "/>
<meta name="robots" content="noindex, nofollow"/>	
<% end %>



<aside id ="sidebarFinder">

		<%= render(:partial => "shared/sidebars/sidebar")%>


</aside>



<section id="mainContent">
		<%= render(:partial => "shared/terms")%>
		<%= render(:partial => "shared/privacy")%>		
</section>
