<% # title and description for seo %>
<% content_for :seotags do %>
<title>Who Are We -- The Payday Hound</title>
<meta name="description" content="We hope The Payday Hound makes a difference. We aim to help you make informed decisions about payday loans. "/>
<% end %>

<div id="wrapper">
<aside id ="sidebarFinder">

		<%= render(:partial => "shared/sidebars/sidebar")%>


</aside>



<section id="mainContent">

<h1>About The Payday Hound</h1>
							
		<h2>Who are we?</h2>
		<p>Hi, my name is Con Way and I run The Payday Hound. There is just one of me. We are not a big organization. I started The Payday Hound because I wanted to <%= link_to 'make a difference', 'http://www.americanbanker.com/bankthink/get-more-transparency-in-payday-lending-1049381-1.html', :rel => 'nofollow' %> and to <%= link_to "learn how to code", '/infos/code' %>.</p>
		<p>My background is in consumer banking and online advertising. My focus is in designing consumer products leveraging data analytics to improve products and marketing. I helped build one of the first ad networks and have created other businesses including, <%= link_to 'Xerpi', 'http://www.xerpi.com' %>, a cloud bookmarking service. Currently, I invest in startups in data analytics, online marketing, and financial services.</p>
		<p>I have done all the research, coding, design, and self-fund the site. Although I'm fully responsible for the opinions expressed in this site, I receive a lot of help from my friends, including Alison, Azish, Wray, Vijay, Kurt, Alan, and Andrea. Thank you!</p>
		<p>I run The Payday Hound through my company, Contigo Direct LLC, 2360 Corporate Circle, Henderson, NV 89074-7722</p>
</section>
</div>