	<% if content_for?(:seotags) %>
	<%= yield :seotags %>
	<% else %>
	<title>Payday and Installment Loan Reviews | The Payday Hound</title>
	<meta name="description" content="Detailed, unbiased direct lender reviews. Find the best rates. Apply direct at The Payday Hound."/>
	<% end %>
	<% if content_for?(:followtags) %>
	<%= yield :followtags %>
	<% end %>
	<%= favicon_link_tag %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	
	<% #Add in during development test %>
  	<% # <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> %>
	<link rel="pingback" href="http://www.thepaydayhound.com/xmlrpc.php" />
	<link rel="alternate" type="application/rss+xml" title="The Payday Hound &raquo; Feed" href="http://www.thepaydayhound.com/feed/" />


	<%= render :partial => 'shared/layouts/jstyle' %>

	<% #sharethis social media buttons need this %>
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c4b269e9-1ef6-45c2-9c17-f06808c72e53", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
	<% # end sharethis social media buttons need this %>
