<!DOCTYPE html><!-- HTML 5 -->
<html dir="ltr" lang="en-US">
<% # This is the main layout used for all public facing views %>
<head>

</head>

<body>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
